.home-bg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/imgs/home2.png') center/cover no-repeat;
    opacity: 0.5;
  }
  